@import '../../variables';

.root {
  margin: 25px;
  text-align: center;
}

.icon {
  display: block;
  height: auto;
  margin: 5px auto;
  max-height: 50px;
  max-width: 150px;
}

.button {
  border: 0;
  border-radius: 10px;
  color: $white;
}

.button-blue {
  background: $blue;
}

.button-red {
  background: $red;
}

.button-orange {
  background: $orange;
}

.button-green {
  background: $green;
}
